@charset "UTF-8";

body{
    margin: 0px;
    background-image: url(6671766-fantastica-lua-magica-luz-e-agua-barco-com-arvore-papel-de-parede-gratis-foto.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}


.texto1{
    width: 100%;
    text-align: center;
    font-size: 80px;
    background-image:linear-gradient(to right, rgb(151, 93, 13), rgb(231, 198, 106));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    padding-top: 550px;
}

